<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | Eberhard Wolff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }} | Eberhard Wolff" />
  <meta property="og:type" content="{{ page.type | default: "article" }}" />
  <meta property="og:description" content="{{ page.description }}" />
</head>
